DATABASE_URL=
JWT_SECRET=

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=your-email@example.com
MAIL_PASS=your-password
MAIL_FROM="My App" <noreply@example.com>

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_user_id
MAIL_PASS=your_mailtrap_password
MAIL_FROM="Test App" <no-reply@example.com>
